table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: left;
}

.form-1 .table-top td {
  text-align: center;
}
.form-1 .table-bottom td {
  min-width: 60px;
}

.form-2 .table-top th {
  text-align: center;
  background-color: aquamarine;
}
.form-2 .table-top td {
  text-align: center;
  background-color: pink;
}

.form-2 .table-bottom th {
  text-align: center;
  background-color: goldenrod;
}
.form-2 .table-bottom-2 th {
  background-color: goldenrod;
}
.form-2 .table-bottom td p,
.form-2 .table-bottom-2 td p {
  margin-bottom: 4px;
}

.text-special {
  text-align: center;
  background-color: rgb(66, 66, 225);
}

.header th {
  background-color: aquamarine;
  text-align: center;
}

.header-2 {
  background-color: #ccc;
  font-weight: bold;
}

ul {
  margin-left: 25px;
}
ul li {
  list-style: decimal;
}
