
*, *::before, *::after{
    -webkit-box-sizing:padding-box;
    box-sizing:padding-box;
    }
    
    
    .tickerwrapper {
    /* the outer div */
    
    position: relative;
    top: 30px;
    left:0%;
    width: 99.9%;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    }
    
    ul.list-marquee {
    position: relative;
    display: inline-block;
    list-style: none;
    padding:0;
    margin:0;
    }
    
    ul.list.cloned {
    position: absolute;
    top: 0px;
    left: 0px;
    }
    
    ul.list-marquee li.listitem-marquee {
    float: left;
    padding-left: 20px;
    }